* {
    box-sizing: border-box;
}

body {
    font-family: lato, sans-serif;
    margin: 0;
}

nav {
    display: flex;
    height: 175px;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}

nav > * {
    flex: 1 1 100%;
    padding: 2em 3em;
}

h1 {
    font-family: raleway, sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
}

h2 {
    font-weight: 300;
    text-align: center;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: rgb(125, 35, 35);
}

p {
    font-weight: 300;
    letter-spacing: 1px;
}

.title {
    color: rgb(255, 238, 230);
    background-color: rgb(53, 82, 37);
}

.project {
    color: rgb(53, 82, 37);
    background-color: rgb(255, 238, 230);
}

/* Colour Palette Section */

.colour p {
    opacity: 0.5;
}

.palette, .fonts h2 {
    margin: 1.5em 0;
}

.palette {
    padding: 1em 0;
}

h3 {
    font-family: raleway, sans-serif;
    font-size: 20px;
    font-weight: 100;
    letter-spacing: 2px;
}

.colours {
    padding: 1em 1em;
    display: flex;
    gap: 4em;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.colours > * {
    flex: 1 1 100%;
    max-width: 10ch;
}

.colour {
    text-align: center;
}

.swatch {
    height: 4em;
    width: 4em;
    border-radius: 50%;
    margin: 0 auto;
}

.swatch:hover {
    transform: scale(1.1);
}

.cream {
    background-color: rgb(255, 238, 230);
}

.green {
    background-color: rgb(53, 82, 37);
}

.red {
    background-color: rgb(125, 35, 35);
}

.tan {
    background-color: rgb(201, 132, 58);
}

.beige {
    background-color: rgb(235, 205, 183);
}

/* Font Section */

.raleway {
    font-family: raleway, sans-serif;
}

.georgia, .georgia h3 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    opacity: 0.7;
}

.lato h3 {
    font-family: lato, sans-serif;
}

.bold {
    font-weight: bold;
}

.font {
    text-align: center;
    padding: 0 0 1em;
}

.fonts {
    background-color: rgb(235, 205, 183);
    border-top: 1px dashed rgb(125, 35, 35);
    padding: 1em 0;
}

/* Typography Section */

.typography {
    background-color: rgb(125, 35, 35);
    color: rgb(255, 238, 230);
    padding: 3em 0;
}

.typography h2 {
    margin: 0;
    color: rgb(255, 238, 230);
}

ul {
    list-style: none;
    padding: 0;
    line-height: 2em;
}

.style-card {
    height: 300px;
    text-align: center;
    border: 2px dashed rgb(235, 205, 183);
    border-radius: 80%;
}

.cards h3 {
    padding-top: 0.75em;
}

.cards {
    display: flex;
    padding-top: 3em;
    gap: 2em;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.cards > * {
    flex: 1 1 30ch;
    max-width: 30ch;
}

h4 {
    font-family: raleway, sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.style-card h2 {
    margin: 1em 0;
}

/* Footer */

footer {
    text-align: center;
    background-color: rgb(255, 238, 230);
    color: rgb(201, 132, 58);
    margin: 0;
    padding: 1.5em;
}

a {
    text-decoration: none;
    color: rgb(53, 82, 37);
}

a:visited {
    color: rgb(125, 35, 35);
    
}

a:hover {
    font-weight: bold;
}

/* Media */

@media only screen and (max-width: 750px) {
    nav {
        display: inline-block;
        width: 100%;
    }

    .palette {
        padding: 3em 0;
    }
}